<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="manage.store.user.repository.UserAccountRepository">

    <sql id="userCol">
        id, password, name, resident_regist_no, phone_no, email, address,
        auth_cd, work_start_date, work_end_date, work_status_cd, bank_name, bank_account_no, month_salary, hour_wage,
        created_by, created_date, last_updated_by, last_updated_date
    </sql>

    <select id="selectUserById" resultType="User">
        SELECT <include refid="userCol"/>
        FROM user
        WHERE id = #{id}
    </select>

    <insert id="insertUser">
        INSERT INTO user (<include refid="userCol"/>)
        VALUES (
            #{id}, #{password}, #{name}, #{residentRegistNo}, #{phoneNo}, #{email}, #{address},
            #{authCd}, #{workStartDate}, #{workEndDate}, #{workStatusCd}, #{bankName}, #{bankAccountNo}, #{monthSalary}, #{hourWage},
            #{createdBy}, CURRENT_TIMESTAMP, #{lastUpdatedBy}, CURRENT_TIMESTAMP
        )
    </insert>

    <update id="updateUser">
        UPDATE user
           SET password             = #{password},
               name                 = #{name},
               resident_regist_no   = #{residentRegistNo},
               phone_no             = #{phoneNo},
               email                = #{email},
               address              = #{address},
               auth_cd              = #{authCd},
               work_start_date      = #{workStartDate},
               work_end_date        = #{workEndDate},
               work_status_cd       = #{workStatusCd},
               bank_name            = #{bankName},
               bank_account_no      = #{bankAccountNo},
               month_salary         = #{monthSalary},
               hour_wage            = #{hourWage},
               last_updated_by      = #{lastUpdatedBy},
               last_updated_date    = CURRENT_TIMESTAMP
        WHERE id = #{id}
    </update>

</mapper>